In [7]:
import xlearn as xl

ffm_model = xl.create_ffm()


train_path = '/Users/admin/Downloads/xlearn-master/demo/classification/criteo_ctr/small_train.txt'
train_path2 = '/Users/admin/Downloads/libffm_toy/criteo.tr.r100.gbdt0.ffm'
test_path = '/Users/admin/Downloads/xlearn-master/demo/classification/criteo_ctr/small_test.txt'
test_path2 = '/Users/admin/Downloads/libffm_toy/criteo.va.r100.gbdt0.ffm'


ffm_model.setTrain(train_path2)
ffm_model.setValidate(test_path2)

# Parameters:
param = {'task':'binary', 
         'epoch': 3,
         'lr':0.2, 
         'lambda':0.002}

# Start to train
# The trained model will be stored in model.out
ffm_model.fit(param, './model.out')
ffm_model.setTXTModel('./mdl')

# # Prediction task
# ffm_model.setTest(test_path2)  # Set the path of test dataset
# ffm_model.setSigmoid()                 # Convert output to 0-1

# # Start to predict
# # The output result will be stored in output.txt
# ffm_model.predict("./model.out", "./output.txt")

In [2]:
import pandas as pd

path = '/Users/admin/Downloads/xlearn-master/demo/classification/titanic/titanic_train.txt'
df = pd.read_csv(path, sep='\t')

In [3]:
df.head()

,0,1,0.1,1.1,0.2,0.3,0.4,1.2,0.5,1.3,0.6,0.7,1.4,-0.56136323207,-0.502445171436
0,1,1,0,0,1,1,0,0,1,0,1,0,0,0.613182,0.786845
1,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.267727,-0.488854
2,1,1,0,0,1,0,0,1,1,0,1,0,0,0.392955,0.420730
3,0,0,0,1,0,0,0,1,0,1,0,0,1,0.392955,-0.486337
4,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.427102,-0.478116

In [4]:
df['0'].value_counts()

0    548
1    342
Name: 0, dtype: int64